<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta
    keywords="Freedom of expression, real conversations, freedom of speech, chat free, free chat, politics, spirtituality, religion, arts, entertainment, conversation, smart people,
be happy, pluralism, cosmopolitanism, cosmopolite, democrats, republicans, independents, independence, free speech, different people, meet, be with, find">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/static/app.css">
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/sidebar_mobile.css">

  <link rel="icon" type="image/png" href="static/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="static/favicon-16x16.png" sizes="16x16" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>

  <script src="http://unpkg.com/babel-standalone"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeK_pwjAAAAAEu3ycWXYOJLfz4hF7MG2emkvIAt"></script>

  <title>
    {% block title %}THY TALK{% endblock %}
  </title>
</head>

<body>

  <div id="overlay" onclick="overlayOff()">
    <div id="OverlayText"></div>
  </div>

  <div class="container bg-light" id="masterContainer"> <!-- MASTER CONTAINER -->

    <!-- TOP COLLAPSIBLE NAVBAR -->
    <div class="row">
      <div class="col-xs-2 navbar-light bg-light" style="padding-left: 0px;  padding-right: 0px;">
        <a class="links" href="/">
          <img class="img-fluid" src="{{url_for('static', filename='logo.jpg')}}" />
        </a>
      </div>

      <div class="col-xs-10 top">
        <nav class="navbar navbar-expand-sm navbar-light static-top d-flex justify-content-end ">

          <!-- Collapse button -->
          <button class="navbar-toggler navbar-toggler-icon" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto mt-2 mt-xs-0">
              <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" onclick="setTimeout(openNav, 200)">USERS</a>
              </li>
              {%if "user_id" in session %}
              <li class="nav-item">
                <a class="nav-link" id="goto_saved_art_nav">MY ARTICLES</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/talk/signout">SIGN OUT</a>
              </li>
              {%else%}
              <li class="nav-item">
                <a class="nav-link" href="/talk/signup">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/talk/signin">SIGN IN</a>
              </li>
              {%endif%}
              <!-- <form action="/talk" method="POST"> <button type="submit" class="btn btn-primary btn-xs btn-block"></button> </form> -->
            </ul>



          </div>
        </nav>
      </div>
    </div>
    <!-- END OF NAVBAR -->


    <div class="row"> <!-- MASTER ROW THAT SEPARATES TOP NAVBAR FROM THE REST -->

      <!-- LEFT SIDEBAR -->
      <div class="container sidebar" id="leftSidebar"> <!-- USERS AND ARTICLES COLUMN -->

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
          ×
        </a>

        <!-- USERS -->
        {%if currentuser%} <!-- ACTIVE USER -->
        <div class="row">
          <div class="container">
            <div class="col-xs-12 m-1 p-0">
              <div class="row">
                <a style="font-size:large;color:rgb(9, 8, 7);" href="/talk/userprofile/{{currentuser.id}}">{{
                  currentuser.name }} {%if currentuser.is_online%} <span style="color:green;font-size: xx-small;">online</span>{%endif%}</a>
              </div>
              <div class="row">
                {% if currentuser.img_url %}
                <img src="{{currentuser.img_url}}" class="img-fluid m-1 p-0" style="width:50%" />
                {%else%}
                <img src="{{url_for('static', filename='logo.jpg')}}" class="img-fluid m-1 p-0" style="width:50%" />
                {% endif %}
                </a>
              </div>
              <div class="row">
                <div class="col-xs-2 m-0 p-0">
                  <button onclick="window.location.href='/talk/chat/{{currentuser.id}}'"
                    class="btn-info btn-sm bi bi-chat"></button>
                </div>

                <div class="col-xs-2 m-0 p-0">
                  <button onclick="window.location.href='/talk/userprofile/{{currentuser.id}}'"
                    class="btn-info btn-sm bi bi-info-circle-fill"></button>
                </div>

                <div class="col-xs-2 m-0 p-0">
                  <button onclick="window.location.href='/talk/edit/{{currentuser.id}}'"
                    class="btn-info btn-sm bi bi-person-square"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        {%endif%}

        <!-- ALL OTHER USERS TODO: SHOW ACTIVE/INACTIVE STATUS-->
        {%if users%}
        {% for user in users %}
        {% if user != currentuser %}
        <div class="row">

          <div class="container">
            <div class="col-xs-12 m-1 p-0">
              <div class="row">
                <a style="font-size:large;color:rgb(9, 8, 7);" href="/talk/userprofile/{{user.id}}">{{ user.name }} {%if user.is_online%} <span style="color:green;font-size: xx-small;">online</span>{%endif%}</a>
              </div>
              <div class="row">
                {% if user.img_url %}
                <img src="{{user.img_url}}" class="img-fluid m-1 p-0" style="width:50%" />
                {%else%}
                <img src="{{url_for('static', filename='logo.jpg')}}" class="img-fluid m-1 p-0" style="width:50%" />
                {% endif %}
                </a>
              </div>
              <div class="row">
                <div class="col-xs-2 m-0 p-0">
                  <button onclick="window.location.href='/talk/chat/{{user.id}}'"
                    class="btn-info btn-sm bi bi-chat"></button>
                </div>
                <div class="col-xs-2 m-0 p-0"></div>
                <div class="col-xs-2 m-0 p-0">
                  <button onclick="window.location.href='/talk/userprofile/{{user.id}}'"
                    class="btn-info btn-sm bi bi-info-circle-fill"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        {%endif%} <!-- END OF CONDITION WHERE ACTIVE USER MUST NOT SHOW HERE (otherwise it'll appear twice)-->
        {% endfor %} <!-- END OF USERS FOR LOOP-->
        {%endif%} <!-- END OF USERS -->

        <!-- SAVED ARTICLES) -->
        <div class="row">
          <button class="btn-sm btn-light w-100" href="#savedArticlesSubmenu_mobile" data-toggle="collapse"
            aria-expanded="false" id="savedArticlesSubmenu_mobile_btn">SAVED ARTICLES</button>
          <ul class="collapse" id="savedArticlesSubmenu_mobile">
            {%if saved_articles%}
            {%for saved_art in saved_articles%}
            <li>
              <a class="savedArticles" style="font-size:smaller;color:black;" href="{{saved_art.url}}"
                id="saved_article{{loop.index}}">{{saved_art.title}}</a>
            </li>
            <hr>
            {%endfor%}
            {%endif%}
          </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div><!-- END OF USERS AND ARTICLES-->
      <!-- END OF LEFT SIDEBAR -->

      <!-- MAIN CONTENT -->
      <div class="col-xs-12" id="mainContent"> <!-- MASTER CENTER COLUMN DON'T CHANGE CLASS WITHOUT CHECKING JS!-->

        <div class="row"> <!-- TOP BUTTONS'ROW -->
          <div class="container"> <!-- TOP BUTTONS' CONTAINER -->
            <div class="row"> <!-- INNER BUTTONS'CONTAINER'S ROW -->
              <div class="col-xs-3 ml-0 mr-0 pl-0">
                <button class="btn-lg btn-primary glyphicon glyphicon-home color-logo" id="menu-button-mobile"
                  onclick="window.location.href='/'"></button>
              </div>



              <div class="col-xs-6 ml-0 mr-0 ml-0 pr-0 pl-0">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-10 d-flex justify-content-center ml-0 mr-0 ml-0 pr-0 pl-0">
                      <input class="form-control" id="searchNews" type="search" placeholder="Search the news"
                        aria-label="Search">
                    </div>
                    <div class="col-xs-2 d-flex justify-content-center ml-0 mr-0 ml-0 pr-0 pl-0">
                      <button class="btn btn-primary bi bi-search color-logo" id="searchNewsButton"
                        type="submit"></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-3 ml-0 mr-0 pr-0 d-flex justify-content-end">
                {%if "user_id" in session %}
                <button class="btn-lg btn-primary color-logo glyphicon glyphicon-log-out" id="signin_signup_btn_mobile"
                  onclick="window.location.href='/talk/signout'"></button>
                {%else%}
                <button class="btn-lg btn-primary color-logo glyphicon glyphicon-log-in" id="signin_signup_btn_mobile"
                  onclick="window.location.href='/talk/signin'"></button>
                {%endif%}
              </div>


            </div>
            <div class="row">

              <div class="col-xs-3 ml-0 mr-0 pl-0">
                <button class="btn-lg btn-primary glyphicon glyphicon-chevron-left color-logo ml-0"
                  id="menu-button-mobile" onclick="openNav()"><span
                    style="font-size: x-small;position:relative;bottom:0.4rem;">USERS</span></button>
              </div>

              <div class="col-xs-6 ml-0 mr-0 ml-0 pr-0 pl-0"></div>
              <!-- just for grid management d-flex not working for some reason-->

              <div class="col-xs-3 ml-0 mr-0 pr-0 d-flex justify-content-end">
                <button class="btn-lg btn-primary color-logo" id="newsBtn"
                  onclick="window.location.href='#mainNewsDiv';">NEWS</button>
              </div>

            </div>
          </div>
        </div>


        <br>

        <!-- FLASH AND CENTER CONTENT -->
        <div class=" row">
          <!-- ***********************FLASH******************************** -->
          {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
          <div class="container-fluid">
            <div class="row .row-height justify-content-center">
              <div class="col-xs-12" style="text-align: center;">
                <ul>
                  {% for category, message in messages %}
                  <li></li>
                  <p class="{{ category }}" style="overflow-wrap:break-word;">{{ message }}</p>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          {% endwith %}
          <!-- ***********************END OF FLASH******************************** -->
          <br>
          <div class="row">
            {% block content %}{% endblock %}
          </div>
        </div> <!-- END OF MAIN CENTER CONTENT ROW (still inside master center column)-->


        <!-- NEWS SECTION -->
        {%if articles%}
        <div class="row" id="mainNewsDiv" style="margin-top:10px;"> <!-- BOTTOM NEWS CONTENT & NEWS -->
          <div class="card-fluid col-xs-12" style="padding-top:50px;" id="newsCardSection"> <!-- MASTER NEWS COLUMN -->



            <div class="container"> <!-- ALL NEWS CARDS CONTAINER -->

              {%for article in articles%}
              <div class="row" id="rowImage">
                <!-- Featured image -->
                <div class="col-fluid imgArticle" id="imageDiv">
                  <img src="{{article['image']}}" class="img-fluid" max-width="20%" />
                  <a class="links" href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>
              <div class="row" id="rowPubDate">
                <div class="col-fluid articlePubDate">
                  <u>{{article['publishedAt']|trim('Z')|replace('T', ' ')}}</u>
                </div>
              </div>
              <!-- Article title and description -->
              <div class="row" id="rowArtDescription">
                <div class="col-fluid articleDescription">
                  <a class="text-dark" href="{{article['url']}}">
                    <h5>
                      <b>{{article['description']}}</b>
                    </h5>
                  </a>
                </div>
              </div>

              <!-- SAVE AND LIKE ARTICLE BUTTONS -->
              <div class="row mb-4 border-bottom pb-2">

                {%if currentuser and LikedArticle%}
                {%if session['user_id']==currentuser.id%}
                <!-- likes for articles are not persistent but remain in db for furture recommendations purpose -->
                <div class="col-2 d-flex justify-content-end">
                  <button id="likearticle{{loop.index}}" data-user-id={{currentuser.id}} data-article-loopidx="{{loop.index}}"
                    data-article-title="{{article['title']}} data-art-id="{{article.id}}" name="likearticle"
                    class="btn btn-info btn-xs glyphicon glyphicon-thumbs-up likearticle" data-toggle="tooltip"
                    data-placement="top" title="" style="margin-left:5px">
                    {{LikedArticle.query.filter(LikedArticle.user_id==user.id,
                    LikedArticle.title=="{{article['title']}}",
                    LikedArticle.url=="{{article['url']}}").all()|length}}
                  </button>
                </div>

                <div class="col-8 d-flex justify-content-end">
                  <button class="btn glyphicon bi bi-save savearticle_cls" id="savearticle{{loop.index}}"
                    data-article-url="{{article['url']}}" data-article-title="{{article['title']}}"> Save</button>

                </div>
                <div class="col-2 d-flex justify-content-end">
                  <button class="btn btn-primary glyphicon glyphicon-pencil commentArticle"
                    id="commentArticle{{loop.index}}" name="commentArticle" data-article-url="{{article['url']}}"
                    data-article-title="{{article['title']}}" data-article-imgurl="{{article['image']}}"
                    data-userid="{{currentuser.id}}" data-article-description="{{article['description']}}">
                  </button>
                </div>

                {%endif%}
                {%endif%}


              </div>
              {%endfor%}
            </div>
          </div>
        </div>
        {%endif%} <!-- END OF NEWS & BOTTOM CONTENT -->






      </div> <!-- END OF MASTER CENTER COLUMN -->

    </div> <!-- END OF MASTER ROW THAT SEPARATES TOP NAVBAR FROM THE REST-->
  </div> <!-- END OF MASTER CONTAINER -->

  </div>

</body>
<script src="/static/app.js"></script>
<script src="/static/news.js"></script>
<script src="/static/sidebar_mobile.js"></script>

</html>