{% extends "base_talk.html" %}
{% block title %}THY TALK{% endblock %}


{# MAIN CONTENT #}
{% block content %}

{% if session["user_id"] %}
<h1>You are logged in as {{User.query.get(session["user_id"]).name}} {{User.query.get(session["user_id"]).last_name}}
</h1>
{%endif%}
<br>

{#{% for user in users %}#}
{% for post in all_posts|reverse %}
<div class="container" id="post_container{{post.id}}">
    {# POSTS DIVISION #}
    <div class="row">
        <div class="col-lg-9" style="right:1%">
            <h5><span class="glyphicon glyphicon-time"></span> Posted by {{post.post_author}} - {{post.pub_date}}</h5>
            <div class="media-body">
                <div class="well well-lg" id="post{{post.id}}">

                    {% if User.query.get(post.user_id).img_url %}
                    <a href="/talk/{{ User.query.get(post.user_id).id }}"><img
                            src="{{User.query.get(post.user_id).img_url}}" class="img-fluid" width="50px"></a>
                    {% endif %}

                    {{post.post}}

                </div>

            </div>
        </div>
    </div>
    {# LIKES TO POSTS DIVISION#}
    <div class="row">
        <div class="col-lg-11">


            
            <button id="likepost{{loop.index}}" data-post-id="{{post.id}}" name="likepost"
                class="btn btn-info btn-sm glyphicon glyphicon-thumbs-up likepost" data-toggle="tooltip" data-placement="top" title=""> {#empty tooltip 'title' attr = tooltip doesn't show#}
                {{post.likes|length}}
            </button>

            <button id="dislikepost{{loop.index}}" data-post-id="{{post.id}}" name="dislikepost"
                class="btn btn-info btn-sm dislikepost glyphicon glyphicon-thumbs-down">
                {{post.dislikes|length}}
            </button>

            {%if session["user_id"] == post.user_id%}
            <button id="deletepost{{loop.index}}" data-post-id="{{post.id}}" name="deletepost"
                class="btn btn-info btn-sm deletepost glyphicon glyphicon-trash">
            </button>
            {%endif%}

            <!-- <button id="flagpost{{loop.index}}" data-post-id="{{post.id}}" name="flagpost"
                class="btn btn-info btn-sm flagpost glyphicon glyphicon-flag">
            </button> -->

            <form action="/api/reply/{{post.id}}" method="POST" style="position:relative; display:inline-block">
                <button id="replypost{{loop.index}}" data-post-id="{{post.id}}" name="replypost"
                    class="btn btn-info btn-sm replypost bi bi-reply" style="position:relative; width:40px">
                </button>

            </form>
        </div>
    </div>
    <br>
    {# REPLYS DIVISION #}

    {% for response in post.responses%}
    <div class="row" id="response{{response.id}}">
        <div class="col-9">
            <h5><span class="glyphicon glyphicon-time"></span> Posted by {{response.reply_author}} -
                {{response.response_date}}</h5>
            <div class="well well-sm-5" style="position:relative;float:right;width:80%;color:rgb(93, 93, 168)">

                {{response.response}}

            </div>
        </div>

        {# LIKES TO REPLIES DIVISION #}
        <div class="row">
            <div class="col-5 ml-auto" style="top:-15%;">

                {##}
                <button type="submit" id="likereply{{loop.index}}" name="likereply" data-response-id="{{response.id}}"
                    class="btn btn-info btn-xs glyphicon glyphicon-thumbs-up likereply"
                    style="background-color:rgb(26, 33, 166)"> {{response.likes_reply|length}} </button>

                <button type="submit" id="dislikereply{{loop.index}}" name="dislikereply"
                    data-response-id="{{response.id}}"
                    class="btn btn-info btn-xs glyphicon glyphicon-thumbs-down dislikereply"
                    style="background-color:rgb(26, 33, 166)"> {{response.dislikes_reply|length}} </button>
                {%if session["user_id"] == post.user_id%}

                <button type="submit" id="deletereply{{loop.index}}" name="deletereply"
                    data-response-id="{{response.id}}" class="btn btn-info btn-xs glyphicon glyphicon-trash deletereply"
                    style="background-color:rgb(26, 33, 166)">
                </button>
                {%endif%}

                <!-- <button type="submit" id="flagreply{{loop.index}}" name="flagreply" data-response-id="{{response.id}}"
                    class="btn btn-info btn-xs glyphicon glyphicon-flag flagreply"
                    style="background-color:rgb(26, 33, 166)">
                </button> -->

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    {%endfor%}

    <!-- post_id_form = {{post_id_form}}
    <p></p>
    post.id = {{post.id}} -->


</div>
<br>
<br>
{%endfor%}
{#{%endfor%}#}

{%endblock%}
{# END OF MAIN CONTENT #}

{# SIDE CONTENT RIGHT #}
{#{% block sidecontent_r %}{%endblock%}#}
{# END OF SIDE CONTENT #}



{#



#}